body {
    font-family:  Arial, 'Times New Roman';
    margin: 1.5em;
    color: blue;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

#input-time,
#daily-time,
#weekly-time {
    border: 1px solid blue;
    padding: 2em;
    margin-bottom: 1.5em;
}

#input-time1,
#input-time2 {
    border: 1px solid blue;
    font-size: 3em;
    color: blue;
    margin-bottom: 1em;
}

#elapsed-time-button,
#add-to-daily-time-button,
#clear-daily-button,
#clear-weekly-button,
#add-to-weekly-time-button {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
    font-size: 3em;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 50%;
}

#time-diff {
    margin: 1em;
    width: 5em;
    font-size: 3em;
    border: 1px solid blue;
    color: blue;
}

#start-time-label,
#stop-time-label,
#sum-of-hours-label,
#sum-of-minutes-label,
#weekly-sum-of-hours-label,
#weekly-sum-of-minutes-label {
    color: blue;
    font-size: 3em;
}

#sum-of-hours,
#sum-of-minutes,
#weekly-sum-of-hours,
#weekly-sum-of-minutes {
    width: 3em;
    font-size: 3em;
    border: 1px solid blue;
    color: blue;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
}

#sum-of-minutes,
#weekly-sum-of-minutes {
    margin-bottom: 1em;
}
